.Register {
    margin: auto;
    margin-top: 30%;
    padding: 20px;
    width: 80%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px grey;
}

@media (min-width: 600px) {
    .Register {
        margin-top: 100px;
        width: 500px;
        padding: 20px 50px;
    }
}