.FormGroup {
    display: flex;
    flex-flow: column;
}

.Label {
    margin: 5px 0;
    color: darkgrey;   
}

.Input {
    padding: 8px;
    border: none;
    background: #eee;
    border-radius: 5px;
    font-size: 1.2em;
}